@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white;
  margin: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

.banner-fade {
  height: 7rem;
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.6), #000);
}